<!-- The parameter include.sac is a single string containing
     multiple photo entries separated by include.split,
     each of which contains first an image source URL,
     then the alt text, and finally the caption,
     separated by include.subsplit. -->

{% assign sacs = include.sac | split: include.split %}
<div class="carousel">
{% for sac in sacs %}
  {% assign src-alt-cap = sac | split: include.subsplit %}
  {% assign src = src-alt-cap[0] | strip %}
  {% assign alt = src-alt-cap[1] | strip %}
  {% assign cap = src-alt-cap[2] | strip %}
  <img style="grid-column: {{forloop.index}};  grid-row: 1;" src="{{src}}" alt="{{alt}}" title="{{alt}}" />
  <span style="grid-column: {{forloop.index}};  grid-row: 2;">{{cap}}</span>
{% endfor %}
</div>