{% if page.layout == "post" %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:article:published_time" content="{{ page.date }}" />
<meta property="og:article:author" content="{{ site.author.name }}" />
<meta property="og:article:section" content="{{ page.categories[0] }}" />
{% for tag in page.tags %}
<meta property="og:article:tag" content="{{ tag }}" />
{% endfor %}
{% else %}
<meta property="og:title" content="{{ page.title }} &middot; {{ site.title }}" />
<meta property="og:type" content="website" />
{% endif %}
<meta property="og:image" content="{{ '/assets/images/cousot-cousot.png' | absolute_url }}" />
<meta property="og:site_name" content="⟨ortho|normal⟩" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:locale" content="en_CA" />
<link rel="me" href="https://types.pl/@ionchy" />

<title>{%
  if page.title == "Home"
%}{{ site.title }}{%
  elsif page.tab_title
%}{{ page.tab_title }} &middot; {{ site.title }}{%
  else
%}{{ page.title }} &middot; {{ site.title }}{%
  endif
%}</title>