<!-- From https://superdevresources.com/image-caption-jekyll/ -->

<div class="image-wrapper" >
  {% if include.url %}
  <a href="{{ include.url }}" target="_blank">
  {% endif %} 
    <img width="{{ include.width }}" src="{{ include.img | relative_url }}" title="{{ include.title }}" alt="{{ include.title }}"/>
  {% if include.url %}
  </a>
  {% endif %}
  
  {% if include.caption %}
    <p class="image-caption">{{ include.caption }}</p>
  {% endif %}
</div>
