<div id="sidebar">
  {% comment %}
    Modified to add profile photo.
  {% endcomment %}

  {% if site.profile %}
    <a href="{{ "/" | relative_url }}">
      <img id="profile" src="{{ site.profile.image | relative_url }}" alt="Profile photo. {{ site.profile.title }}" title="{{ site.profile.title }}"/>
    </a>
    <span id="egg">yes I know the image is broken.<br/>idk how to fix it leave me alone</span>
  {% endif %}

  <header>
    <h1 class="site-title">
      <a href="{{ "/" | relative_url }}">
        {{ site.title }}
      </a>
    </h1>
    <p class="lead">{{ site.description }}</p>
  </header>

  {% include sidebar-nav-links.html %}

  <div id="webring">
    <a href="https://bobs-club.net/">⦃ bob's club webring ⦄</a>
    <br/>
    <span>
      <a href="https://bobs-club.net/site/ionchy/pred">
        <img src="/assets/images/webring/back.svg"/></a>
      &numsp;〰&numsp;
      <a href="https://bobs-club.net/site/ionchy/random">
        <img src="/assets/images/webring/shuffle.svg"/></a>
      &numsp;〰&numsp;
      <a href="https://bobs-club.net/site/ionchy/succ">
        <img src="/assets/images/webring/forward.svg"/></a></span>
  </div>

  {% if site.version %}
    <span class="site-version">Currently v{{ site.version }}</span>
  {% endif %}

  {% include sidebar-icon-links.html %}
  {% include copyright.html %}
</div>
