---
---

// https://developer.mozilla.org/en-US/docs/Web/MathML/Fonts

@font-face {
  font-family: "STIX Two Math";
  src:
    local("STIX Two Math"),
    url("/assets/fonts/STIXTwoMath.woff2") format("woff2");
}

// https://github.com/cormullion/juliamono

@font-face {
  font-family: "Julia Mono";
  src:
    local("Julia Mono"),
    url("/assets/fonts/JuliaMono.woff2") format("woff2");
  text-rendering: optimizeLegibility;
}

// https://brailleinstitute.org/freefont

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  font-style: normal;
  font-weight: 200 800; // extra light to extra bold
  src:
    local("Atkinson Hyperlegible Next"),
    url("/assets/fonts/AtkinsonHyperlegibleNext.woff2"),
    format("woff2-variations");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: italic;
  font-weight: 200 800; // extra light to extra bold
  src:
    local("Atkinson Hyperlegible Next"),
    url("/assets/fonts/AtkinsonHyperlegibleNext.woff2"),
    format("woff2-variations");
}