---
---

@import "hydeout";
@import "./fonts.css";

$serif: STIX Two Math, ui-serif, serif;
$sans-serif: Atkinson Hyperlegible Next, ui-sans-serif, sans-serif, STIX Two Math;
$monospace: Julia Mono, ui-monospace, monospace;

// ANSI Z535 Safety Yellow / PMS 109C
$safety-yellow: #FFE100;

// this is just grey idk
$grey: #767676;

/* General tag styling */

html {
  scrollbar-color: $safety-yellow $sidebar-bg-color;
}

body {
  font-family: $sans-serif;
  font-size: 18px;
  @media (max-width: $large-breakpoint) {
    font-size: 16px;
  }
}

a {
  word-break: break-word;
}

pre code {
  font-size: 85%;
  @media (max-width: $large-breakpoint) {
    font-size: revert;
  }
}

pre {
  font-family: $monospace;
  font-size: 85%;
  padding: 0;
  margin: 0;
}

code {
  font-family: $monospace;
  font-size: calc(0.85 * 85%);
}

mark {
  background-color: $safety-yellow;
}

table {
  display: block;
  overflow-x: auto;
  width: fit-content;
  max-width: 100%;
}

blockquote {
  table {
    margin-bottom: 0;
  }
}

li ul {
  margin-bottom: 0;
}

details {
  margin-top: -20px;
  margin-bottom: 20px;
  summary {
    cursor: pointer;
  }
}

math {
  font-family: $serif;
  margin-bottom: 1rem;
}

/* https://github.com/w3c/csswg-drafts/issues/1771
iframe {
  height: max-content;
}
*/

/* Class styles */

h2 {
  &.page-title, &.post-title {
    font-size: revert;
  }
}

.content {
  max-width: $large-breakpoint;
}

.image-wrapper {
  text-align: center;

  img {
    border-radius: 0;
    display: block;
    margin: 0 auto 1rem;
    @media (max-width: $large-breakpoint) {
      width: 90%;
    }
  }

  .image-caption {
    color: $body-muted;
    margin-top: 0;
    font-size: 85%;
  }
}

img.inline-img {
  display: inline;
  vertical-align: bottom;
  margin: 0;
  border-radius: 0;
}

pre.highlight {
  padding: 0;
}

a {
  &.footnote, &.reversefootnote {
    font-weight: normal;
  }
}

.footnotes p {
  margin-bottom: 0;
}

.katex:has(math[display="block"]) {
  display: block;
  overflow-x: auto;
  max-width: 100%;
}

.small-caps {
  font-variant: small-caps;
}

.mastodon-embed {
  width: 0.5 * $large-breakpoint;
  max-width: 100%;
  border: 0;
}

details.spoiler {
  border: 1px solid black;
  padding: 12px;
  margin-top: 0;
  &[open] {
    summary {
      margin-bottom: 1rem;
    }
  }
}

.carousel {
  display: grid;
  column-gap: 1rem;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  overflow-x: scroll;
  border: thin solid $grey;

  img {
    max-height: 40vh;
    max-width: unset;
    border-radius: 0;
    margin: 0;
    justify-self: center;
  }

  span {
    margin: auto;
    color: $grey;
    font-size: 85%
  }
}

/* Specific element styling */

#sidebar {
  &, .home & {
    text-align: left;
    .site-title {
      font-family: $sans-serif;
      font-size: 2rem;
    }
    @media (max-width: $large-breakpoint) {
      width: 100%;
      text-align: center;
    }
    .favicon {
      width: 30px;
      margin: 0.3rem 0 1rem;
    }
  }
}

#profile {
  border-radius: 0;
  @media (max-width: $large-breakpoint) {
    width: 40%;
    margin: 0 30% 1rem;
  }
}

#webring {
  font-size: smaller;
  margin-top: 1rem;

  img {
    display: inline;
    vertical-align: text-top;
    width: 0.7rem;
    border-radius: 0;
    margin: 0;
    padding: 0;
  }
}

#left-arrow {
  display: inline-block;
  transform: scale(-1, 1);
}

#egg {
  display: none;
  @media (width: $large-breakpoint) {
    font-size: smaller;
    display: flex;
    width: 40%;
    margin: 0 30% 0;
    padding: 0.5em 0 0.5em;
    align-items: center;
    justify-content: center;
    background-color: $sidebar-bg-color;
  }
}
