---
layout: page
title: Categories
---

{% assign pages_list = site.pages|sort:"sidebar_sort_order" %}
{% for node in pages_list %}
  {% if node.title != null %}
    {% if node.layout == "category" %}
      <div><strong>➪</strong> <a class="category-link"
        href="{{ node.url | relative_url }}">{{ node.title }}</a></div>
    {% endif %}
  {% endif %}
{% endfor %}
