---
layout: page
---

<h2>{{ page.title }}</h2>

<div class="page-meta">
  <span id="left-arrow">➩</span>
  <a href="{{site.baseurl}}{% link blog/index.html %}">back to all posts</a>
</div>

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<hr/>

{% assign category = page.category | default: page.title %}
{% for post in site.categories[category] %}
{% if post.unlisted != true %}
<article class="post-body">
  <h3 class="post-title">
    <a href="{{ post.url | relative_url }}">
      {{ post.title }}
    </a>
  </h3>
  {% include post-meta.html post=post %}

  {% if post.excerpt %}
    {{ post.excerpt }}
  {% else %}
    {{ post.content }}
  {% endif %}

  {% if post.excerpt %}
    {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
    {% capture content_words %}
      {{ post.content | number_of_words }}
    {% endcapture %}
    {% capture excerpt_words %}
      {{ post.excerpt | number_of_words }}
    {% endcapture %}

    {% if content_words != excerpt_words %}
      <a href="{{ post.url | relative_url }}">More &hellip;</a>
    {% endif %}
  {% endif %}
</article>
{% endif %}
{% endfor %}