---
layout: default
---

<header>
  <h1 class="page-title">
    {% comment %}
      Added long_title option
    {% endcomment %}

    {% if page.long_title %}
      {{ page.long_title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </h1>
</header>
<div class="content">
  {% comment %}
    Modified to place pagination below page content.
  {% endcomment %}

  {{ content }}
  
  {% include pagination-newer.html %}

  {% for post in paginator.posts %}
  {% if post.unlisted != true %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h2>
    {% include post-meta.html post=post %}

    {% if post.excerpt %}
      {{ post.excerpt }}
    {% else %}
      {{ post.content }}
    {% endif %}

    {% if post.excerpt %}
      {% comment %}Excerpt may be equal to content. Check.{% endcomment %}
      {% capture content_words %}
        {{ post.content | number_of_words }}
      {% endcapture %}
      {% capture excerpt_words %}
        {{ post.excerpt | number_of_words }}
      {% endcapture %}

      {% if content_words != excerpt_words %}
        <a href="{{ post.url | relative_url }}">More &hellip;</a>
      {% endif %}
    {% endif %}
  </article>
  {% endif %}
  {% endfor %}

  {% include pagination-older.html %}
</div>
