---
layout: default
---

<header>
  <h1 class="post-title">
    {% comment %}
      Added long_title option
    {% endcomment %}

    {% if page.long_title %}
      {{ page.long_title }}
    {% else %}
      {{ page.title }}
    {% endif %}
  </h1>
</header>
<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {{ content }}
    {% include post-tags.html post=page %}
  </div>

  {% include comments.html %}
  {% include related_posts.html %}
</div>